{% extends 'base.html' %}
{% block location %}
<style>
    #locationform {
        display: grid;
        grid-template-columns: 1fr repeat(3,2fr) 1fr;
        grid-template-rows: repeat(12, 1fr);
        height: 100%;
    }
    #locationform h2{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    #locationform #locationname{
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    #locationform #nameinput{
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    #locationform #coordinatestitle{
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    #locationform #coordinates{
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 5;
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    #locationform #coordinates input{
        width: 95%;
    }
    #locationform #imagesheader{
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    #locationform #images{
        grid-row-start: 7;
        grid-row-end: 10;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    #locationform #ratingheader{
        grid-row-start: 10;
        grid-row-end: 10;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    #locationform #rating{
        grid-row-start: 11;
        grid-row-end: 11;
        grid-column-start: 2;
        grid-column-end: 5;
    }
</style>
<form id="locationform" method="post">
    <h2>Add location</h2>
    <h3 id="locationname">Name</h3>
    <input id="nameinput" name="name" placeholder="Location Name" />
    <h3 id="coordinatestitle">Coordinates</h3>
    <div id="coordinates">
        <input name="latitude" placeholder="Latitude" />
        <input name="longitude" placeholder="Longitude" />
    </div>
    <h3 id="imagesheader">Images</h3>
    <div id="images"></div>
    <h3 id="ratingheader">Rating</h3>
    <div id="rating">

    </div>
</form>
{% endblock %}
{% block menu %}
{% endblock %}